body{
    font-style: italic;
    background-color:grey;
    font-family: 'Alfa Slab One', cursive ; 
}
.milogo{
    width: 100px;
}
.milogo:hover{
    border-radius: 35%;
}
a{
    font-size: 25px;
}
.a:hover{
    transform: scale(110%);
}
.instagramlogo{
    padding: 5px;
    width:50px;
}
.facebooklogo{
    padding:5px;
    width:50px;
    border-radius: 25%;
}
.instagramlogo:hover{
    transform: scale(105%);
}
.facebooklogo:hover{
    transform: scale(105%);
}
.fotoprincipal{
    border: solid;
}
.container{
    padding:10px;
}
.row{
    padding: 10px;
}
.col{
    padding: 10px;
}
.fotoprincipal{
    width: 750px;
}
.fotosseminario{
    border: solid;
    width: 450px;
}
.spanseminario{
    padding: 15px;
    text-align: center;
}
footer{
    padding: 15px;
    text-align: center;
    background-color: black;
    
}
                                             /*PELEADORES*/
                                         
.photopeleadores{
     border: solid;
     width: 500px;
    
}
.photopeleadores:hover{
    transform: scale(105%);
}
.titulopeleadores{
    color: black;
}
.titulopeleadores:hover{
    transform: scale(105%);
}

                                              /*EVENTOS*/

.tituloseventos{
    text-align: center;
    color: black;
    background-color:lightgrey;
}
.divargentina{
    display: flex;
    flex-direction: row;
}
.divjapon{
    display: flex;
    flex-direction: row;
}
.divfotoseventos{
    padding: 10px;
}
.divparrafoeventos{
    padding: 10px;
}
.eventosjpg{
    border: solid;
    width: 300px;
}
                                             /*INFO*/
 
.divnuestraconviccion{
    padding: 10px;
}
.divcaichoiara{
    padding: 10px;
    
}
.divshigemori{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}                                             
.shigemori{
    border: solid;
    width:800px;
}                                             

                                         