@import"components/_eventos.scss";
@import"components/_index.scss";
@import"components/_peleadores.scss";
@import"components/_info.scss";
@import"components/_inscripcion.scss";
body{
    background-color: rgb(18, 1, 36);
}
h1{
    padding: 5px;
    text-align: center;
    color: violet;
    
    &:hover{
        transform: scale(110%);

    }
}
.banderas{
    width: 85px;
    border-radius: 10%;
}
.milogo{
    width: 85px;
    border-radius: 35%;
    &:hover{
        color: rgb(18, 1, 36);
    }
}
a{  
    color: violet;
    font-size: 40px;
    &:hover{
        transform: scale(105%);
    }
}
.instagramlogo{
    padding: 15px;
    width: 75px;
    &:hover{
        transform: scale(105%);
    }
}
.facebooklogo{
    padding: 15px;
    width: 75px;
    border-radius: 20px;
    &:hover{
        transform: scale(105%);
    }
}

footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: violet;
    background-color: black;
}
.whassaplogo{
    width: 50px;
    border-radius: 25%;
    &:hover{
        transform: scale(105%);
    }
}
.eventosjpg{
    width: 400px;
}
@media screen and ( max-width: 480px ){
    body{
        background-color: aliceblue;
    }
}