@import"components/_eventos.scss";
@import"components/_index.scss";
@import"components/_peleadores.scss";
@import"components/_info.scss";
@import"components/_inscripcion.scss";
body{
    background-color: rgb(18, 1, 36);
}
h1{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    &:hover{
        background-color:  rgb(18, 1, 36);
    }
}
.milogo{
    width: 100px;
    border-radius: 35%;
    &:hover{
        color: rgb(18, 1, 36);
    }
}
a{
    font-size: 25px;
    &:hover{
        transform: scale(105%);
    }
}
.instagramlogo{
    padding: 10px;
    width: 65px;
}
.facebooklogo{
    padding: 10px;
    width: 65px;
    border-radius: 20px;
}

footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: violet;
    background-color: black;
}
.whassaplogo{
    width: 50px;
    border-radius: 25%;
    
}
.eventosjpg{
    width: 400px;
}
@media screen and ( max-width: 480px ){
    body{
        background-color: aliceblue;
    }
}