.divparrafoeventos1{
    padding: 10px;
}
.parrafoeventos{
    padding: 5px;
    color:rgb(228, 112, 203);
    
}
.tituloseventos{
    padding: 5px;
    padding-left: 550px;
    color: black;
    background-color:white;
}
.divargentina{
    padding: 10px;
    display:flex;
    flex-direction:row;
}
.divfotoeventos{
    padding: 10px;
}
.divjapon{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.eventosjpg{
    width: 800px;
}
@media screen and ( max-width: 480px ){
    .divparrafoeventos1{
        padding: 10px;
        display: flex;
    }
    .parrafoeventos{
        padding: 10px;
        padding-left: 50px;
        justify-content: center;
    }
    .tituloseventos{
        padding: 10px;
        padding-left: 100px;
        background-color: aliceblue;
    }
    .divargentina{
        padding: 10px;
        padding-left: 50px;
        display: block;
    }
    .divjapon{
        padding: 10px;
        padding-left: 50px;
        display: block;
    }
}

