
.divprincipal{
    padding: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
.fotoprincipal{
   
    padding: 10px;
    width: 900px;
}
.divparrafo1{
    padding: 10px;
}
.parrafo1{
    background-color: white;
}
.divseminario{
    padding: 10px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.fotosseminario{
    width: 600px;
}
.divtextoseminario{
    padding: 15px;
}
.textoseminario{
    padding: 10px;
    padding-left: 350px;
    color:rgb(228, 112, 203);
    font-size: 17px;
}
.divtitulocarrusel{
    padding: 10px;
}
.titulocarrusel{
    color: black;
    background-color:white;
    padding: 10px;
    padding-left: 400px;
}
.divcarrusel{
    padding: 10px;
    padding-left: 100px;
}
.imagenescarrusel{
    padding-left: 150px;
}
.divruiebatafight{
    padding: 5px;
    padding-left: 325px;
}
.ruiebatafight{
    padding: 5px;
    text-align: center;
    color:black;
    background-color: white;
}
@media screen and ( max-width: 480px ){
    .fotoprincipal{
        padding:10px;
        padding-left:250px;
        width: 900px;
    }
    .divparrafo1{
        display: block;
    }
    .parrafo1{
        display: block;
    }
    .divseminario{
        padding: 10px;
        padding-left: 50px;
        display: block;
        
    }
    .fotosseminario{
        padding: 10px;
    }
    .divtextoseminario{
        padding: 10px;
        padding-left: 50px;
    }
    .textoseminario{
        padding: 10px;
        color: black;
    }
    .divtitulocarrusel{
        padding: 5px;
    }
    .divcarrusel{
        padding: 10px;
        padding-left: 200px;
    }
    .imagenescarrusel{
        width:900px;
    }
    .ruiebatafight{
        color: black;
        background-color: aliceblue;
        padding: 10px;
        padding-left: 200px;
    }
    .divruiebatafight{
        padding: 10px;
        padding-left: 5px;
    }
}