.divnuestraconviccion{
    padding: 10px;
   color: rgb(228, 112, 203);
}
.divcaichoiara{
    padding: 10px;
    color: rgb(228, 112, 203);
}
.tituloinfo{
    padding: 15px;
    padding-left: 450px;
    color: black;
    background-color:white ;
}
.divshigemori{
    padding: 10px;
    padding-left: 150px;
}
.shigemori{
    width: 1000px;
}