.col{
    padding: 10px;
}
.photopeleadores{
    padding: 5px;
    width: 600px;
}
.titulopeleadores{
    padding: 10px;
    padding-left: 100px;
    color: rgb(151, 28, 120);
    background-color:rgb(174, 144, 177);
}
.textopeleadores{
    background-color: white;
}
@media screen and ( max-width: 480px ){
    .titulopeleadores{
        padding: 10px;
        padding-left: 160px;
        color: black;
        background-color: aliceblue;
    }
    .textopeleadores{
        padding: 10px;
        padding-left: 180px;
        background-color:aliceblue;
    }
}